.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.font-16 {
  font-size: 16px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.p-middle {
  padding: 8px;
  @media (min-width: 768px) {
    padding: 16px;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.no-shrink {
  flex-shrink: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.pre-wrap {
  white-space: pre-wrap;
}

.blur {
  backdrop-filter: blur(10px);
}

.text-center {
  text-align: center;
}

.self-align-end {
  align-self: flex-end;
}

.self-align-center {
  align-self: center;
}

.mt-auto {
  margin-top: auto;
}

.no-margin {
  margin: 0;
}

.object-cover {
  object-fit: cover;
}

.pre-wrap {
  white-space: pre-wrap;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.force-flex-shrink {
  min-width: 0;
}